{{>header hideMenu='true'}}

<form class="ui form" method="POST" action=""> 
  <h1>Register</h1>
  <div class="field">
    <label>Full Name</label>
    <input type="text" name="name" placeholder="Full Name" />
  </div>
  <div class="field">
    <label>UserName</label>
    <input type="text" name="userName" placeholder="User Name" />
  </div>
  <div class="field">
    <label>Email</label>
    <input type="email" name="email" placeholder="Email" />
  </div>
   <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" />
  </div>
  <button class="ui button" type="submit">Submit</button>
  <p>Already have an account? <a href="/auth/login">Login</a></p>
</form>

{{>footer}}