{{>header}}

<h1>{{title}}</h1>

<div class="ui visible sidebar inverted vertical menu ">
  <h3>All Categories</h3>
  <ul>
    {{#each categories}}
    <li><a href="products/category/{{this}}" class="item">{{this}}</a></li>
    {{/each}}
  </ul>
</div>
<div class="pusher">
  <!-- Site content here !-->
</div>


{{>footer}}